header{
	height: 100px;
	width: 100%;
	background-color: white;
	font-family: Arial;
	text-align: center;
}

body{
	width: 100%;
	height: 100%;
	background-color: grey;
	margin: 0;
}

userInput{
	background-color: white;
}

h1{
	color: blue;
	margin: 0;
	vertical-align: center;
	padding: 25px;
}

h2{
	color: blue;
	margin: 0;
	padding: 20px;
}

p{
	font-family: Arial;
	color: white;
}

footer{
	height: 75px;
	width: 100%;
	background-color: white;
	font-family: Arial;
	text-align: center;
}
/*ID*/
.red{
	
    color: red;
  
}
.orange{
	
    color: orange;
    
}
.special{
	 text-align: center;
    font-family: "Lucida grande", sans-serif;
}
.special4{
	text-align: left
	font-family: "Lucida grande", sans-serif;
}
/*Link style*/
a:link {
    color: blue;
}
a:visited {
    color: red;
}
a:focus {
    color: purple;
}
a:hover {
    color: white;
}   
a:active {
    color: yellow;
}